.btn{
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
}
.btn-primary{
    background-color: #0d6efd;
    color: white;

}
.btn-secondry{
    background-color: #a9a9a9;
    color: white;

}
.btn-danger{
    background-color: #f70505;
    color: white;

}