.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 0.375rem;
    --bs-alert-border-radius: 0.375rem;
    --bs-alert-link-color: inherit;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 0;
    color: #664d03;
    background-color: #fff3cd;
    border: 1px;
    border-radius:  0.375rem;
}

.alertWarning {
    --bs-alert-color:  #664d03;;
    --bs-alert-bg: #fff3cd;
    --bs-alert-border-color: #ffe69c;
    --bs-alert-link-color: #664d03;
}

.alertDismissible {
    padding-right: 1rem;
}

.closeButton{
    float: right;
    
}